*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(1, 29, 24);  
    padding-top: 30px;
}
header{
    width: 100%;
    color: whitesmoke;
    display: flex;
    justify-content: center;

}
#div3, #div1{
    background-color: rgb(12, 161, 137);
    background-image:linear-gradient(to left, rgb(12, 161, 137), rgb(188, 188, 212)) ;
}
#div5{
    background-color: rgb(12, 161, 137);
    background-image:linear-gradient(to left, rgb(12, 161, 137), rgb(188, 188, 212)) ;
}
#p5,#p1,#p3{

    background-color: rgb(12, 161, 137);
    background-image:linear-gradient(to right, rgb(12, 161, 137), rgb(188, 188, 212)) ;
}
#p2,#p4{
    background-color: rgb(12, 161, 137);
    background-image:linear-gradient(to left, rgb(12, 161, 137), rgb(188, 188, 212)) ;
}